<!-- Copyright -->
{% load static %}
<section id="copyright">
    <div class="container footsec text-center">
        <h2>We Accept</h2>
        <ul>
            <li><a href="#"><img src="{% static 'img/cod.png' %}" width="100px" height="60px"></a></li>
            <li><a href="#"><img src="{% static 'img/Khalti_Digital_Wallet_Logo.png' %}" width="100px" height="60px"></a></li>
            <li><a href="#"><img src="{% static 'icons/visa.svg' %}" width="60px" height="60px"></a></li>
        </ul>
        <!-- <h2>Follow Us</h2>
        <div style="margin-top: 6px;">
            <a href="https://www.facebook.com"><img src="icons/facebook.svg" width="30px" height="30px"></a>
            <a href="http://www.instagram.com"><img src="icons/instagram.svg" width="30px" height="30px"></a>
            <a href="tel:+977 9861401823"><img src="icons/viber.svg" width="30px" height="30px"></a><br><br>
        </div> -->
        <p>&copy 2019-2019 Hungry Kathmandu All Right Reserved</p>
    </div>
</section>
<!-- Copyright Ends -->